.footer {
        background-color: var(--background-color-header-footer);
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 60px;
    }
.logo {
        font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1.17;
        
            
        &-dark {
            color: var(--dark-theme-text);
        }
        &-accent {
            color:  var(--accept-color);
        }
}
.address-list {
        margin-top: 20px;
    }
.address-list__link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1.71;
        color: #FFFFFF;
        color: var(--dark-theme-text);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, 
        &:focus {
            color: var(--accept-color);
        }
}
.address-list__item {
        &:not(:last-child) {
        margin-bottom: 8px;
        }
    }
.contact-list__link {
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.14;
        color: var(--secondary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, 
        &:focus, 
        &:hover, 
        &:focus {
            color: var(--accept-color);
            .contact-list__icon,
            .contact-list__icon, 
            .contact-list__icon,
            .contact-list__icon {
                fill: currentColor;
            } 
        }
    }   
.footer-icon-container__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.14;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 20px;
}
.footer-icon-container__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.14;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 20px;
}
.footer-list-icon {
        display: flex;
        fill:#ffffff;
}
.footer-list-icon__item:not(:last-child) {
        margin-right: 10px;
}
.footer-list__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-color: #575860;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, 
        &:focus {
            background-color: var(--accept-color);
        }
}
.footer-form-wrapper__title {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.14;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 20px;
}
.footer-form__input {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: var(--background-color-header-footer);
        &::placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: 1.25;
            color: rgba(255, 255, 255, 0.6);
            padding-left: 15px;
        }
}
.footer-form__btn {
        // position: relative;
        display: inline-flex;
        font-family: inherit;
        font-weight: bold;
        font-size: 16px;
        min-width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 28px;
        line-height: 30px;
        letter-spacing: 1.88;
        color: var(--dark-theme-text);
        background: var(--accept-color);
        cursor: pointer;
        background: var(--accept-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, 
        &:focus {
            background-color: var(--highlight-color);
        }
}
.footer-form__icon_send {
        display: block;
        margin-left: 10px;
        fill: #ffffff;
        width: 24px;
        height: 24px;
        // position: absolute;
        top: 50%;
        right: 28px;
        // transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
    .footer {
        text-align: center;
    }
    .footer-container {
        margin-bottom: 60px;
    }
    .footer-list-icon {
        justify-content: center;
    }
    
    .footer-form__input {
        width: 100%;
    }
    // .footer-icon-container__title {
    //     margin-top: 60px;
    // }
    .footer-list-icon {
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 768px) {
    
    
    .footer-form__input {
        width: 450px;
    }
    .footer-info-wrapper {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }
}
@media  screen and (max-width: 1199px) {
    .footer {
        text-align: center;
    }
    .footer-form__btn {
        display: flex;
        margin: 0 auto;
    }
    .footer-info-wrapper {
        margin-bottom: 60px;
    }
}
@media  screen and (min-width: 1200px) {
    // .footer-info-wrapper {
    //     display: flex;
    // }
    .footer {
        max-width: 1600px;
    }
    .footer .container {
        display: flex;
        align-items: baseline;
    }
    .footer-form__input {
        width: 358px;
        margin-right: 12px;
    }
    .footer-container {
        margin-right: 85px;
    }
    .footer-icon-container {
        margin-right: 100px;
    }
}









// .footer {
//     width: 1600px;
//     background-color: var(--background-color-header-footer);
//     margin: 0 auto;
//     padding: 60px 0px;
// }

// .footer-container {
//     margin-right: 70px;
// }
// .footer-icon-container {
//     display: block;
//     margin-right: 93px;
// }
// .footer-icon-container__title {
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: #ffffff;
//     margin-bottom: 20px;
// }
// .footer-list-icon {
//     display: flex;
//     align-items: center;
//     fill:#ffffff;
// }
// .footer-list-icon__item {
//     margin-right: 10px;
// }
// .footer-list__link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 44px;
//     width: 44px;
//     border-radius: 50%;
//     background-color: #575860;
//     cursor: pointer;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover, 
//     &:focus {
//         background-color: var(--accept-color);
//     }
// }

// .footer-form-wrapper__title {
//     font-style: normal;
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: #ffffff;
//     margin-bottom: 20px;
// }
// .footer-form__input {
//     width: 358px;
//     height: 50px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     background-color: var(--background-color-header-footer);
//     margin-right: 12px;
//     &::placeholder {
//         font-style: normal;
//         font-weight: normal;
//         font-size: 16px;
//         line-height: 1.25;
//         display: flex;
//         align-items: center;
//         letter-spacing: 0.03em;
//         color: rgba(255, 255, 255, 0.6);
//         padding-left: 15px;
//     }
// }
// .footer-form {
//     display: flex;
// }
// .footer-form__btn {
//     position: relative;
//     // display: flex;
//     font-family: inherit;
//     font-weight: bold;
//     font-size: 16px;
//     min-width: 200px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-left: 28px;
//     line-height: 1.88;
//     letter-spacing: 0.06em;
//     color: var(--dark-theme-text);
//     background: var(--accept-color);
//     cursor: pointer;
//     background: var(--accept-color);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     border: 0;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover, 
//     &:focus {
//         background-color: var(--highlight-color);
//     }
// }
// .footer-form__icon_send {
//     display: block;
//     fill: #ffffff;
//     width: 24px;
//     height: 24px;
//     position: absolute;
//     top: 50%;
//     right: 28px;
//     transform: translateY(-50%);
// }