:root {
    --secondary-font: 'Raleway', sans-serif;
    --secondary-text-color: #757575;
    --accept-color: #2196f3;
    --highlight-color: #188ce8;
    --background-color-header-footer: #2f303a;
    --dark-theme-text: #ffffff;
    --light-theme-text: #000000;
    --background-btn: #f5f4fA;
    --background-color: #212121;
    --border-color: #E5E5E5;
    --icon-color: #afb1b8;
}